.perf {
  padding: 0 20px;
}

.perf .bar {
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  height: 20px;
  /* width: 100%; */
  margin: 20px 0;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
}

.perf .bar .line {
  position: absolute;
  top: 0;
  height: 100%;
  background: blue;
}

.perf .label {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.perf .labels .dot {
  width: 16px;
  height: 6px;
  background: red;
  margin-right: 10px;
  border-radius: 3px;
  margin-bottom: -2px;
}
